.container
{
    margin: 50px;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 20px;
}

.square1 {
    background-color: rgb(59, 26, 59);
    transition: transform 0.5s ease;
}

.square2 {
    background-color: rgb(65, 198, 221);
    transition: transform 0.5s ease-in;
}

.square3 {
    background-color: rgb(49, 189, 21);
    transition: transform 0.5s ease-in-out;
}

.square4 {
    background-color: rgb(200, 252, 14);
    transition: transform 0.5s ease-out;
}

.square5 {
    background-color: coral;
    transition: transform 0.5s linear;
}

.container:hover .square{
    transform: translateX(500px);
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid rgb(69, 243, 243);
    background-color: rgb(209, 34, 130);
    transition: border-color 0.5s ease-in;
}

.circle:hover {
    border-color: rgb(37, 4, 37);
}

.rectangle {
    width:300px;
    height: 200px;
    background-color: rgb(25, 238, 25);
    display: inline-block;
    margin: 0 40px;
    transition: transform 1s ease-in-out;
}

.container1 {
    margin-top: 100px;
}

.rectangle1:hover {
    transform: rotate(90deg);
}

.rectangle2:hover {
    transform: rotate(1000deg);
}

.rectangle3:hover {
    transform: rotate(-200deg);
}

.rectangle4:hover {
    transform: scale(-10deg);
}

.rectangle5:hover {
    transform: skewY(100deg);
}

.rectangle5:hover {
    transform: skewX(25deg);
}

.squarenew {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(255, 7, 7); 
    transition: transform 1s ease-in-out;
}

.square6:hover {
   transform: scale(2); 
}

.square7:hover {
    transform: scaleX(0.5); 
 }

 .square8:hover {
    transform: scaleY(1.5); 
 }

 .container2 div {
    margin-top: 50px;
    height: 400px;
    width: 400px;
    background-image: repeating-linear-gradient(
        60deg,
        rgb(65, 192, 192),
        rgb(39, 51, 223) 10px,
        rgb(163, 236, 17) 30px,
        rgb(233, 57, 233) 50px
    );
    transition: all 2s ease-in-out;
 }

 .container2 div:hover {
    background-image: linear-gradient(
        10deg,
        rgb(231, 6, 119),
        aqua,
        limegreen,
        rgb(211, 108, 24)
    );
    transform: rotate(-1000deg) skew(15deg) scale(0.7);
    margin-left: 500px;
 }

 .box{
    width: 200px;
    height: 200px;
    background: rgb(180, 228, 8);
    margin-top: 50px;
    animation: spin 2s;
    animation-iteration-count: infinite;
 }

 @keyframes slide-in {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(500px);
    }
 }

 @keyframes drop-in {
    from {
        transform: rotate(-30deg) translateY(-100%);
    }

    to {
        transform: rotate(0deg) translateY(0%);
    }
 }

 @keyframes spin {
   0% {
    transform: rotate(0turn) scale(1);
   }
   25% {
    transform: rotate(1turn) scale(1);
   }
   50% {
    transform: rotate(1turn) scale(1.5);
   }
   75% {
    transform: rotate(0turn) scale(1.5);
   }
   100% {
    transform: rotate(0turn) scale(1);
   }
 }